/src/PolicyCollector.Agent/bin
/src/PolicyCollector.Agent/obj
/tests/PolicyCollector.Agent.Tests/bin
/tests/PolicyCollector.Agent.Tests/obj
/src/PolicyCollector.Models/bin
/src/PolicyCollector.Models/obj
