apiVersion: v1
kind: Secret
metadata:
  name: pc-secrets
  namespace: policycollector
type: Opaque
stringData:
  postgres-connection-string: "Host=postgres;Port=5432;Database=policycollector;Username=pcollector;Password=CHANGE_ME"
  redis-connection-string: "redis:6379,password=CHANGE_ME"
  api-key: "CHANGE_ME_minimum_32_characters_long"
  hmac-secret: "CHANGE_ME_minimum_32_characters_long"
